<form id="upload" enctype="multipart/form-data" action="uploads/post.html" method="post">
  <input name="file" type="file">
  <input type="submit" value="Upload">
</form>

<div id="progress" class="bar" style="display:block;width:144px;height:24px;border:1px solid black;">
  <div id="progressbar">&nbsp;</div>
</div>
<div id="percents"></div>


